/* Basic editor styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }
  display: grid;

  a {
    color: #7b4fe0;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #616161;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.5rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  blockquote {
    padding-left: 0.5rem;
    border-left: 4px solid #616161;
  }
}
